<div class="job-list-container">
    <h2>Job List</h2>

    <div class="add-job-form">
        <input type="text" [(ngModel)]="newJobTitle" placeholder="Job Title" />
        <input type="text" [(ngModel)]="newJobCompany" placeholder="Company" />
        <input type="text" [(ngModel)]="newJobLocation" placeholder="Location" />
        <button (click)="addJob()">Add Job</button>
    </div>

    <ul class="jobs">
        <li *ngFor="let job of jobs">
            <strong>{{ job.title }}</strong> - {{ job.company }} ({{ job.location }})
            <button (click)="deleteJob(job.id)">Delete</button>
        </li>
    </ul>
</div>